<div class="container">
  <h1>ユーザー編集</h1>
  <%= form_with model: @user, url: public_user_path(@user.id), method: :patch, local:true do |f| %>
  <p>名前</p>
  <%= f.text_field :name %>
  <p>自己紹介</p>
  <%=f.text_area :introduction %>

  <%= f.submit "保存する" %>
  <% end %>
</div>