<div class="container">
  <h1>ユーザー編集</h1>
  <%= form_with model: @user, url: public_user_path(@user.id), method: :patch, local:true do |f| %>
  <div class="row">
    <p class="col-md-2 font-weight-bold">名前</p>
    <p class="col-md-2"><%= f.text_field :name %></p>
  </div>

  <div class="row">
  <p class="col-md-2 font-weight-bold">自己紹介</p>
  <p class="col-md-2"><%=f.text_area :introduction %></p>
  </div>
  <%= f.submit "保存する",class:"btn btn-primary" %>
  <% end %>
</div>